<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.MemberMapper">
	<insert id="create">
	INSERT INTO MEMBER(MEMBER_NO,ID,PASSWORD,MEMBER_NAME,BIRTH_DATE,ADDRESS,REGDATE)
	VALUES (MEMBER_SEQ.NEXTVAL,#{id},#{password},#{memberName},#{phoneNumber},#{birthDate},#{address},SYSDATE)
	</insert>

	<update id="update">
	UPDATE MEMBER 
	<set>
	<if test="password != null and password != ''">
	PASSWORD = #{password},
	</if>
	PHONE_NUMBER = #{phoneNumber},
	ADDRESS = #{address}
	</set>
	WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<delete id="delete">
	DELETE FROM MEMBER WHERE MEMBER_NO = #{memberNo}
	</delete>
	
	
</mapper>